name: Automated Deployment

# Workflow triggers on pushes to main
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to VM (Digital Ocean)
        uses: appleboy/ssh/action@v1.0.0
        with:
          host: ${{ secrets.VM_HOSATA }}
          username: ${{ secrets.VM_USERNAME }}
          password: ${{ secrets. VM_PASSWORD }}
          scripts: |

            echo "*** Updating + Upgrading VM ***"
            sudo apt-get update -y
            yes | sudo DEBIAN_FRONTEND=noninteractive apt-get -yqq upgrade

            echo "*** Installing Docker Dependencies ***"
            sudo apt install -y ca-certificates curl gnupg lsb-release

            echo "*** Add Docker GPG Key and repo ***"
            sudo mkdir -p /etc/apt/keyrings
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg]    https://download.docker.com/linux/ubuntu    $(lsb_release -cs) stable" |    sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

            echo "*** Install Docker engine and compose plugin ***"
            sudo apt update
            sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin