name: Automated Deployment

# Workflow triggers on pushes to main
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # To SSH into VM
      - name: Deploy to VM (Digital Ocean)
        uses: appleboy/ssh/action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          password: ${{ secrets. VM_PASSWORD }}
          scripts: |

            echo "*** Updating + Upgrading VM ***"
            sudo apt-get update -y
            yes | sudo DEBIAN_FRONTEND=noninteractive apt-get -yqq upgrade

            echo "*** Installing Docker Dependencies ***"
            sudo apt install -y ca-certificates curl gnupg lsb-release

            echo "*** Add Docker GPG Key and repo ***"
            sudo mkdir -p /etc/apt/keyrings
            curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg]    https://download.docker.com/linux/ubuntu    $(lsb_release -cs) stable" |    sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

            echo "*** Install Docker engine and compose plugin ***"
            sudo apt update
            sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

            echo "*** Creating Directory ***"
            mkdir -p ~/pixel-to-pattern
            cd ~/pixel-to-pattern

            echo "*** Writing .env ***"
            cat << EENV > .env
            DB_HOST=${DB_HOST}
            DB_USER=${DB_USER}
            DB_PASSWORD=${DB_PASSWORD}
            DB_DATABASE=${DB_DATABASE}
            DB_PORT=${DB_PORT}
            SERVER_PORT=3000
            EENV

            echo "*** Write docker-compose.deploy.yml ***"
            cat << ECOMP > docker-compose.deploy.yml
            ${DOCKER_COMPOSE_DEPLOY_YML}
            ECOMP

            echo "*** Clean up Docker Images ***"
            docker image prune -f

            echo "*** Pull latest Docker Image ***"
            docker compose -f docker-compose.deploy.yml pull

            echo "*** Restart Containers ***"
            docker compose -f docker-compose.deploy.yml up -db
            
            echo "*** Display Running Containers ***"
            docker ps
          
          env:
            DB_HOST: ${{ secrets.DB_HOST }}
            DB_USER: ${{ secrets.DB_USER }}
            DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
            DB_DATABASE: ${{ secrets.DB_DATABASE }}
            DB_PORT: ${{ secrets.DB_PORT }}
            DOCKER_COMPOSE_DEPLOY_YML: ${{ secrets.DOCKER_COMPOSE_DEPLOY_YML }}